/* 
      global value
     ******************
 */
:root {
  --download-button: #855fb1;
  --what-button: #4d96a9;
  --span-text: #d9b8ff;
  --background: #fafafa;
  --heading: #28283d;
  --paragraph: #87879d;
  --border: #8fe3f9;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  width:80%;
  margin:auto;
}
.pad{
  padding: 40px 0;
}

body {
  background-color: var(--background);
  font-family: "Red Hat Display", sans-serif;
}
img{
  max-width: 100%;
}
/* button */
.group-button{
  text-align: center;
}
.group-button .button {
  color: var(--background);
  border-style: none;
  border-radius: 35px  ;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  cursor: pointer;
}
 .download {
  background-color: var(--download-button);
  width: 193px;
  height: 58px;
  margin-right: 16px;
  margin-bottom: 16px;
}
 .download span {
  color: var(--span-text);
}
 .what {
  background-color: var(--what-button);
  width: 135px;
  height: 58px;
}
/* 
    header style
  ******************
 */
header {
  margin:auto;
  text-align: center;
}
/* 
    group section  style
  ******************
 */

 .group-desk-img img{
   max-width: 100%;
 }
 .group-info{
  margin-bottom:  50px ;
  text-align: center;
 }
.group-info {
  text-align: center;
  margin: auto;
   padding: 30px 40px 0;
}
.group-info-head {
  color: var(--heading);
  font-weight: bold;
}
.group-info-text {
  color: var(--paragraph);
  margin:17px 0;
  font-size: 15px;
}

/* media quary for group section */
@media (min-width:992px){
   .group-content{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
 }
  .tap-img{
    display: none;
  }
}
@media (max-width:991px){
  .group-content{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
 }
  .group-desk-img{
    display: none;
  }
}
/* 
    circle section style
  ******************
 */
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shape{
    position: relative;
    text-align: center;
    margin-top: 131px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid var(--paragraph);
    display: flex;
    justify-content: center;
    align-items: center;
}
.shape::after{
    content: " ";
    width: 1px;
    height: 84px;
    background: var(--paragraph);
    position: absolute;
    bottom: 54px;
}
/* 
  image  section style
  ******************
 */
 .image-group{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-gap:10px;
 }
 /* media quary for image section */
@media (max-width:575px){
 .image-group{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-gap:10px;
 }
}
/* 
  image  section style
  ***************
 */ 
 .built{
   margin:auto;
   text-align: center;
 }
.built-head-fir{
color: var(--what-button);
text-align: center;
}
.built-head-sec{
      margin: 15px 0;
    font-size: 30px;
    font-weight: 900;
    line-height: 30px;
    color: var(--heading)
}
.built-text{
  margin:auto;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: var(--paragraph);
  max-width: 400px;
}
/* 
  footer  section style
  ******************
 */
footer{
  background-color: #4d96a9;
  background-image:url(../images/desktop/image-footer.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  color:#ffff;
}
.overlay{
width: 100%;
height: 100%;
position: absolute;
top: 0;
left:0;
background-color: rgb(77 150 169 / 60%);
}
.footer{
  color:#fff;
  padding:80px 0;

}
.foot-info{
   display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 20px;
    align-items: center;
    padding: 80px 0;
    color:#fff;
    position: relative;
}

 .foot-circle{
  transform: translatey(28px);
  z-index: 2;
  position: relative;
}
.foot-circle .shape{
  background-color: var(--background);
}
/* .foot-info{
  z-index: 3;
} */
.foot-text{
  text-align: left;
}
.foot-head{
  font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    color: var(--background);
}
/* media quary for footer */
@media (max-width:767px){
  .footer{
    background-image: url(../images/tablet/image-footer.jpg);
  }
  .foot-info{
   display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-items: center;
    text-align: center;
}
.foot-text{
  text-align: center;
}
}
@media (max-width:767px){
  .footer{
    background-image: url(../images/mobile/image-footer.jpg);
  }